/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@media (width <=375px) {}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  background-image: var(--main-background);
  background-size: cover;
  color: var(--main-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.decor {
  display: grid;
  justify-items: center;
  background-color: var(--main-background-color);
  border: solid var(--main-color) 2px;
  margin: 100px 0;
  height: var(--height-mobile);
  width: var(--width-mobile);
}

.header__main-title {
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 49px;
  line-height: 49px;
  color: var(--main-color);
  text-transform: uppercase;
  padding-top: 120px;
}

.header__text {
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 14px;
  line-height: 14px;
  color: var(--main-color);
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu__button {
  display: grid;
  justify-content: flex-start;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--main-color);
  background: none;
  border: none;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  animation: 0.3s ease disabling;
}

@keyframes disabling {
  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.6;
  }
}

.theme-menu__button:is(:disabled)::before {
  position: absolute;
  inset-inline-start: -15px;
  content: '▶';
  pointer-events: none;
  animation: 0.5s ease-in-out infinite reverse pointer-move;
}

@keyframes pointer-move {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translate(1px);
  }

  50% {
    transform: translate(2px);
  }

  75% {
    transform: translate(3px);
  }

  100% {
    transform: translate(4px);
  }
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:not(:disabled):hover {
  animation: 0.3s ease menu-hovering;
}

@keyframes menu-hovering {
  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.6;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  transition: transform 0.3s ease;
  transform-origin: 0 0;
}

.theme-menu__button:is(:focus)::after {
  content: "";
  border-bottom: solid 1px var(--main-color);
  opacity: 0.6;
}

.theme-menu__button:not(:focus-visible)::after {
  content: "";
  border-bottom: solid 1px var(--main-color);
  opacity: 0.6;
  transform: scaleX(0);
}

.theme-menu__button:is(:focus-visible)::after {
  content: "";
  border-bottom: solid 1px var(--main-color);
  opacity: 0.6;
  transform: scaleX(1);
}

.cards {
  background-color: var(--main-background-color);
  border: solid #000000 2px;
  width: var(--width-mobile);
}

.section-heading {
  font-family: var(--main-font);
  font-weight: var(--header--font-weight);
  font-size: 18px;
  line-height: 21.78px;
  color: var(--main-color);
  max-width: 315px;
  padding: 4px 0 6px 10px;
}

.content-text {
  font-family: var(--main-font);
  font-weight: var(--main-text-font-weight);
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
  padding-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin: 25px 25px 25px 0px;
  height: 38px;
}

.is-liked {
  background: none;
  height: 100%;
  padding: 0;
  border: solid 2px transparent;
  transition: 0.3s ease;
}

.is-liked:focus {
  outline: none;
}

.is-liked:focus-visible {
  outline: none;
  border: solid 2px var(--main-color);
}

.like-icon {
  height: 34px;
  width: 37px;
  background: none;
  border: none;
}

.like-icon:focus {
  outline: none;
}

.main-body:hover {
  fill: var(--body-filling);
}

.sparks {
  opacity: 0.0;
}

.button {
  position: relative;
  outline: none;
  border: 2px solid var(--main-color);
  background: var(--main-background-color);
  appearance: none;
  cursor: pointer;
}

.button::before {
  content: "";
  background: none;
  transform: scaleX(0);
  transform-origin: left center;
  width: 100%;
  height: 100%;
  transition: ease 0.3s;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button:hover::before {
  content: "";
  background: var(--main-color);
  bottom: 0;
  left: 0;
  transform-origin: left center;
  transform: scaleX(1);
}

.button__text {
  position: relative;
  display: grid;
  justify-content: center;
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 14px;
  line-height: 12.6px;
  color: var(--color-button);
  border: none;
  appearance: none;
  cursor: pointer;
  mix-blend-mode: difference;
  z-index: 2;
}

.card__like-button {
  width: 130px;
  height: 100%;
}

.button:focus {
  box-shadow: 2px 2px var(--main-color);
  animation: 0.3s ease focusing;
}

@keyframes focusing {
  0% {
    box-shadow: 0px 0px var(--main-color);
  }

  50% {
    box-shadow: 1px 1px var(--main-color);
  }

  100% {
    box-shadow: 2px 2px var(--main-color);
  }
}

.floppy-icon {
  color: var(--color-button);
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: 2;
}

.icon {
  color: var(--color-button);
  mix-blend-mode: difference;
  width: 28px;
  height: 28px;
  z-index: 2;
}

.image-container {
  position: relative;
}

.label {
  position: absolute;
  display: block;
  inset-inline-end: 13px;
  inset-block-start: 25px;
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 14px;
  line-height: 14px;
  color: var(--main-color);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  z-index: 2;
  text-shadow: -1px 0 var(--main-background-color), 0 1px var(--main-background-color), 1px 0 var(--main-background-color), 0 -1px var(--main-background-color);
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--main-background-color)) {
  .label {
    -webkit-text-stroke: 1px var(--main-background-color);
    text-shadow: none;
  }
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  padding: 52px 34.5px 100px;
}

.footer-button {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 15px 0px;
  width: 100%;
  gap: 8px;
}

dialog:is([open]) {}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: Org(0 0 0 / 0.75);
  transition: all 0.3s;
}


.dialog__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}

.dialog__title {
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 14px;
  line-height: 150%;
  color: var(--main-color);
  text-transform: uppercase;
}