/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@media (width >375px) {
  .footer__button {
    grid-auto-flow: column;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  background-image: var(--main-background);
  background-size: cover;
  color: var(--main-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.decor {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-background-color);
  border: solid var(--main-color) 2px;
  margin: 100px 0;
  width: var(--main-width);
  padding-top: var(--decor-padding-top);
  padding-bottom: 25px;
}

.header__main-title {
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: var(--main-title-line-height);
  color: var(--main-color);
  text-transform: uppercase;
  outline: none;
}

.header__text {
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: var(--header-text-line-height);
  color: var(--main-color);
  text-transform: uppercase;
  margin-top: var(--header-text-margin);
}

.header__theme-menu {
  margin-top: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 13px;
  padding-left: var(--list-padding);
}

.theme-menu__button {
  display: grid;
  justify-content: flex-start;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--main-color);
  background: none;
  border: none;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  padding: 0;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  animation: 0.3s ease disabling;
}

.theme-menu__button:is(:disabled)::before {
  position: absolute;
  inset-inline-start: var(--disabled-inset-inline);
  content: '▶';
  pointer-events: none;
  animation: 0.5s ease-in-out infinite reverse pointer-move;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  transition: transform 0.3s ease;
  transform-origin: 0 0;

}

.theme-menu__button:not(:focus-visible)::after {
  content: "";
  border-bottom: solid 1px var(--main-color);
  opacity: 0.6;
  transform: scaleX(0);
}

.theme-menu__button:is(:focus-visible)::after {
  transform: scaleX(1);
}

.cards {
  display: grid;
  gap: 50px;
}

.card {
  border: solid var(--main-color) 2px;
  width: var(--main-width);
  background-color: var(--main-background-color);
}

.section-heading {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--header-font-weight);
  font-size: 18px;
  line-height: 21.78px;
  color: var(--main-color);
  max-width: var(--width-section-heading);
  padding: 5px 0 4px 10px;
}

.image-container {
  position: relative;
  border: solid var(--main-color) 2px;
  width: clamp(371px, 50vw, 696px);
  height: clamp(371px, 50vh, 696px);
}

.label {
  position: absolute;
  display: block;
  inset-inline-end: 13px;
  inset-block-start: 25px;
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 14px;
  line-height: 14px;
  color: var(--main-color);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  z-index: 2;
  text-shadow: -1px 0 var(--main-background-color), 0 1px var(--main-background-color), 1px 0 var(--main-background-color), 0 -1px var(--main-background-color);
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--main-background-color)) {
  .label {
    -webkit-text-stroke: 1px var(--main-background-color);
    text-shadow: none;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.brightness {
  filter: brightness(90%);
}

.cat-with-glasses {
  object-fit: cover;
  object-position: 0 20%;
}

.content-text {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-text-font-weight);
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
  padding-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin: 25px 25px 25px 0px;
  height: 38px;
}

.card__icon-button {
  background: none;
  height: 100%;
  padding: 0;
  border: solid 2px transparent;
}

.is-liked {
  transition: 0.3s ease;
}

.is-liked:focus {
  outline: none;
}

.is-liked:focus-visible {
  outline: none;
  border: solid 2px var(--main-color);
}

.like-icon {
  height: 34px;
  width: 37px;
  background: none;
  border: none;
}

.like-icon:focus {
  outline: none;
}

.card__like-button {
  width: 130px;
  height: 100%;
}

.button {
  position: relative;
  outline: none;
  border: 2px solid var(--main-color);
  background: var(--main-background-color);
  appearance: none;
  cursor: pointer;
}

.button::before {
  content: "";
  background: none;
  transform: scaleX(0);
  transform-origin: left center;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button:hover::before {
  background: var(--main-color);
  transform: scaleX(1);
}

.button:focus {
  box-shadow: 2px 2px var(--main-color);
  animation: 0.3s ease focusing;
}

.button__text {
  position: relative;
  display: grid;
  justify-content: center;
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 14px;
  line-height: 12.6px;
  color: var(--color-button);
  border: none;
  appearance: none;
  cursor: pointer;
  mix-blend-mode: difference;
  z-index: 2;
}

.contrast {
  filter: contrast(110%);
}

.kitten-in-front-of-laptop {
  object-fit: cover;
  object-position: 30%;
}

.saturate {
  filter: saturate(40%);
}

.cat-on-laptop {
  object-fit: cover;
  object-position: 0 75%;
}

.hue-rotate {
  filter: hue-rotate(150deg);
}

.cat-looks-at-the-monitor {
  object-fit: cover;
  object-position: 50% 0;
}

.grayscale {
  filter: grayscale(1.3);
}

.dog-with-a-bone {
  object-fit: cover;
  object-position: 0 20%;
}

.blur {
  filter: blur(0.1rem);
}

.cat-sleeps-on-laptop {
  object-fit: cover;
  object-position: 0 70%;
}

.dog-eats {
  object-fit: cover;
  object-position: 0 30%;
}

.multiple {
  filter: saturate(3) sepia(60%) invert(0.1);
}

.happy-dog {
  object-fit: cover;
  object-position: 50% 0;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 49px 34.5px 100px;
}

.footer__button {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  gap: var(--gap-footer-button);
  width: clamp(306px, 82vw, 335px);
}

.floppy-icon {
  color: var(--color-button);
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: 2;
}

.footer__icon {
  display: block;
  color: var(--color-button);
  mix-blend-mode: difference;
  width: var(--footer-icon-width);
  height: var(--footer-icon-height);
  z-index: 2;

  .floppy-icon {
    width: var(--footer-icon-width);
    height: var(--footer-icon-height);
  }
}

dialog[open] {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background: var(--main-background-color);
  width: clamp(341px, 40vw, 353px);
  min-width: 341px;
  border: solid 2px var(--main-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
}

.dialog__icon {
  width: 39px;
  height: 39px;

  .floppy-icon {
    width: 39px;
    height: 39px;
  }
}

.dialog__title {
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  font-size: 14px;
  line-height: 150%;
  color: var(--main-color);
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
  height: 38px;
  margin-top: 30px;
  text-transform: uppercase;
}