/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-text-font-weight: 400;
  --main-title-font-size: 49px;
  --main-title-line-height: 49px;
  --header-text-font-size: 14px;
  --header-text-line-height: 14px;
  --header-font-weight: 700;
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'Press Start 2P', fantasy;
  --main-color: #000000;
  --main-background-color: #FFFFFF;
  --main-background: repeating-linear-gradient(#d3d3d3 0 2px,
      transparent 2px 4px),
    repeating-linear-gradient(90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --main-height: 327px;
  --main-width: 100%;
  --width-section-heading: 315px;
  --heart-filling: #FF0000;
  --body-filling: #000000;
  --color-button: #FFFFFF;
  --gap-save-button-section: 8px;
  --list-padding: 21px;
  --disabled-inset-inline: -19px;
  --header-text-margin: 20px;
  --save-button-section-icon-width: 28px;
  --save-button-section-icon-height: 28px;
  --decor-padding-top: 120px;
  --label-inset-inline-end: 9px;
  --label-inset-inline-start: 23px;
}

@media (width >375px) {
  :root {
    --main-width: 100%;
    --width-section-heading: 100%;
    --main-title-font-size: 49px;
    --main-title-line-height: 49px;
    --header-text-font-size: 23px;
    --header-text-line-height: 23px;
    --gap-save-button-section: 8px;
    --list-padding: 18px;
    --disabled-inset-inline: -20px;
    --header-text-margin: 28px;
    --save-button-section-icon-width: 21px;
    --save-button-section-icon-height: 21px;
    --decor-padding-top: 144px;
    --label-inset-inline-end: 23px;
    --label-inset-inline-start: 25px;
  }
}